version: "3.8"

services:

  frontend:
    build:
      context: ./frontend 
      dockerfile: Dockerfile.frontend
    container_name: frontend_app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: backend_api
    ports:
      - "4000:4000"
    env_file:
    - ./backend/.env
    restart: always


  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile.admin
    container_name: admin_panel
    ports:
      - "5174:5174"
    depends_on:
      - backend
    restart: always

